<!--Main Content-->
<div class="container" style="padding-top: 3%">
  <!--Post header-->
  <div class="row">
    <h3 class="col-1 align-self-center">
      Posts
    </h3>
    <!--Add new Button-->
    <div class="col-2">
      <p-button label="Add New" styleClass="p-button-outlined p-button-info" (onClick)="func1()"></p-button>
    </div>
  </div>
  <!--All, Published label and Search posts Button-->
  <div class="row" style="margin-top: 3%">
    <!--Label-->
    <div class="col-6">
      <p-button label="All" styleClass="p-button-link" (onClick)="func2()"></p-button>
      <input pInputText pKeyFilter="int" placeholder="0" [disabled]="true" style="width: 7%"/>
      |
      <p-button label="Published" styleClass="p-button-link" (onClick)="func3()"></p-button>
      <input pInputText pKeyFilter="int" placeholder="0" [disabled]="true" style="width: 7%"/>
    </div>
    <div class="col-4">
      <input pInputText pKeyFilter="int" placeholder="" style="width: 100%"/>
    </div>
    <!--Search Posts Button-->
    <div class="col-2">
      <p-button label="Search Posts" styleClass="p-button-outlined p-button-info" (onClick)="func4()"></p-button>
    </div>
  </div>
  <!--Dropdown and Button-->
  <div class="row" style="margin-top: 3%">
    <!--Dropdown 1-->
    <div class="col-2 align-self-center">
      <p-dropdown [options]="bulkAction" [(ngModel)]="selectedAction" placeholder="Bulk Actions" optionLabel="name" (onChange)="func5()"></p-dropdown>
    </div>
    <!--Button 1-->
    <div class="col-1 align-self-center">
      <p-button label="Apply" styleClass="p-button-outlined p-button-info" (onClick)="func6()"></p-button>
    </div>
    <!--Dropdown 2-->
    <div class="col-2 align-self-center">
      <p-dropdown [options]="allDates" [(ngModel)]="selectedDate" optionLabel="name" (onChange)="func7()"></p-dropdown>
    </div>
    <!--Dropdown 3-->
    <div class="col-2 align-self-center">
      <p-dropdown [options]="allCategories" [(ngModel)]="selectedCat" optionLabel="name" (onChange)="func8()"></p-dropdown>
    </div>
  </div>
  <!--Normal checkbox-->
  <div class="row" style="border: 1px solid black; margin-top: 3%">
    <div class="col-5">
      <form class="flex align-items-center gap-1" [formGroup]="formGroup">
        <p-checkbox formControlName="city" value="check1" id="check1" (onChange)="func9()"></p-checkbox>
        <label for="check1">Title</label>
      </form>
    </div>
    <div class="col-2">Author</div>
    <div class="col-3">Categories</div>
    <div class="col-2">Date</div>
  </div>
  <!--Dynamic checkbox-->
  <div class="row" style="border: 1px solid black">
    <div class="col-5 align-self-center">
      <div class="flex flex-column gap-2">
        <div *ngFor="let blog of blogs" class="field-checkbox">
          <p-checkbox name="group" [value]="blog" [(ngModel)]="selectedBlog" [inputId]="blog.key" (onChange)="func10()"></p-checkbox>
          <label [for]="blog.key">{{ blog.title }}</label>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div *ngFor="let blog of blogs" class="field-checkbox">
        <label [for]="blog.key">{{ blog.author }}</label>
      </div>
    </div>
    <div class="col-3">
      <div *ngFor="let blog of blogs" class="field-checkbox">
        <label [for]="blog.key">{{ blog.categories }}</label>
      </div>
    </div>
    <div class="col-2">
      <div *ngFor="let blog of blogs" class="field-checkbox">
        <label [for]="blog.key">{{ blog.date }}</label>
      </div>
    </div>
  </div>
  <!--Normal checkbox-->
  <div class="row" style="border: 1px solid black">
    <div class="col-5">
      <form class="flex align-items-center gap-1" [formGroup]="formGroup">
        <p-checkbox formControlName="city" value="check2" id="check2" (onChange)="func11()"></p-checkbox>
        <label for="check2">Title</label>
      </form>
    </div>
    <div class="col-2">Author</div>
    <div class="col-3">Categories</div>
    <div class="col-2">Date</div>
  </div>
  <!--Dropdown and button-->
  <div class="row" style="margin-top: 3%">
    <!--Dropdown 1-->
    <div class="col-2 align-self-center">
      <p-dropdown [options]="bulkAction2" [(ngModel)]="selectedAction2" placeholder="Bulk Actions" optionLabel="name" (onChange)="func12()"></p-dropdown>
    </div>
    <!--Button 1-->
    <div class="col-1 align-self-center">
      <p-button label="Apply" styleClass="p-button-outlined p-button-info" (onClick)="func13()"></p-button>
    </div>
  </div>
</div>



