<!--Main content-->
<div class="container" style="padding-top: 3%">
  <!--Edit header-->
  <div class="row">
    <div class="col">
      <h3>CREATE</h3>
    </div>
  </div>
  <div class="row">
    <!--Edit panel-->
    <div class="col-sm-12 col-md-9 col-lg-8">
      <div class="container">
        <!--Edit information-->
        <div class="row">
          <div class="col-9 col-sm-9 col-md-9 col-lg-8 p-fluid" style="padding-bottom: 2%; padding-top: 2%">
            Title
            <input pInputText type="text" class="p-inputtext-sm" placeholder="Title" [(ngModel)]="title" style="width: 89%; height: auto">
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="padding-bottom: 2%">
            Date
            <p-dropdown [options]="months" [(ngModel)]="selectedMonth" placeholder="Month" optionLabel="name"></p-dropdown>
            <input pInputText type="text" class="p-inputtext-sm" placeholder="DD" [(ngModel)]="day" style="width: 8%; height: auto; margin-left: 2%"/>
            ,
            <input pInputText type="text" class="p-inputtext-sm" placeholder="YYYY" [(ngModel)]="year" style="width: 9%; height: auto; margin-left: 2%"/>
            at
            <input pInputText type="text" class="p-inputtext-sm" placeholder="HH" [(ngModel)]="hour" style="width: 8%; height: auto"/>
            :
            <input pInputText type="text" class="p-inputtext-sm" placeholder="MM" [(ngModel)]="minute" style="width: 8%; height: auto"/>
          </div>
        </div>
        <!--Editor-->
        <div class="row">
          <p-editor [(ngModel)]="description" [style]="{height:'50vh'}"></p-editor>
        </div>
      </div>
    </div>
    <!--Category panel-->
    <div class="col-4">
      <div id="cat" class="container">
        <div class="row" style="padding-top: 2%">
          <h5>Categories</h5>
        </div>
        <!--Categories checkbox-->
        <div class="row" style="padding-top: 2%; padding-bottom: 5%">
          <div class="card flex justify-content-center Rcorners">
            <div class="flex flex-column gap-2">
              <div *ngFor="let category of categories" class="field-checkbox">
                <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories" [inputId]="category.title.toLowerCase()"></p-checkbox>
                <label [for]="category.title.toLowerCase()">{{ category.title }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Update and Cancel buttons-->
<footer class="container" style="margin-top: 2%;">
  <p-button label="Save draft" (onClick)="createDraftBlog()"></p-button>
  <p-button label="Publish" styleClass="p-button-outlined" [style]="{margin: '0 0 0 2%'}" (onClick)="createPublishBlog()"></p-button>
</footer>

