.Middle {
  margin: 0 auto;
}

.Rcorners {
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

#cat{
  display: block;
}

@media (max-width: 640px)
{
  #cat
  {
    display: none;
  }
}



